# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/

# User-specific
*.suo
*.user
*.userosscache
*.sln.docstates
.DS_Store

# NuGet
*.nupkg
*.snupkg
**/packages/*
project.lock.json
project.fragment.lock.json
artifacts/

# Misc
*.log
*.local
